---
layout: default
title: Remmy Zen's Blog
type: blog
---
<div class="row">
    <h1 class="title">Remmy A. M. Zen</h1>
    <h2 class="subtitle">Blog</h2>
	
    <div class="col-md-12 col-sm-12" style="font-size:22px">
	<ul class="posts">
	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	     <span style="font-size:16px">{{ post.content | strip_html | truncatewords:75}}<br>
            <a href="{{ post.url }}">Read more...</a><br><br></span>
	  {% endfor %}
	</ul>
    </div>
    <!--
    <div class="pagination">
	  {% if paginator.previous_page %}
	    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	  {% else %}
	    <span class="previous">Previous</span>
	  {% endif %}
	  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	  {% if paginator.next_page %}
	    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
	  {% else %}
	    <span class="next ">Next</span>
	  {% endif %}
    </div> -->
</div>
